*{
    font-family: 'Times New Roman', Times, serif;
}
.header-styling{
    background-color:rgba(157, 34, 53, 0.4);
    font-weight: bold;
    height: 200px;
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
}
.bg-img{
    position: relative; 
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    background-image: url('background-image.png');
    background-size:cover;
    background-position:center;
}
.page-title{
    font-size:30px;
    text-align:center;
}
.page-content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align:center;
}
.header{  
    border:0px solid black; 
    box-sizing:border-box;
    margin:5px;
}
.container{
    border:1px solid black;
    box-sizing:border-box;
    width:100%;
}
.footer-links{
    height:20px;
    width:20px;
}
#logo{
    width:100%;
    height:100%;
    object-fit:cover;
}
.footer-styling{
    background-color:rgba(157, 34, 53, 0.8);
    font-weight: bold;
    height: 200px;
}