*{
    font-family: 'Times New Roman', Times, serif;
}
.header-styling{
    background-color:rgb(10, 140, 183);
    font-weight: bold;
    height: 100px;
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
}
.header .nav-vl {
    border-left: 3px solid #d6d6d678;
    height: 60px;
    margin: auto 16px;
    display: block;
}
.breadcrumb-item-styling{
    color: black !important;;
    font-size:25px;
}
.bg-img{
    position: relative; 
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    background-image: url('background-image.png');
    background-size:cover;
    background-position:center;
}
.page-title{
    font-size:25px;
    text-align:center;
}
.page-content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align:center;
}
.header{  
    border:0px solid black; 
    box-sizing:border-box;
    margin:5px;
    
}
.container{
    border:1px solid black;
    box-sizing:border-box;
    max-width:100%;
}
.footer-links{
    height:30px;
    width:30px;
}
#logo{
    width:auto;
    height:auto;
    object-fit:cover;
}
.footer-styling{
    background-color:rgba(26, 105, 8, 0.8);
    font-weight: bold;
    height: auto;
    padding: 24px;
}
.footer-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-specific-option{
    margin-bottom: 8px;
    text-align: center;
}
.footer-copyright{
    text-align: center;
    padding-top: 24px;
    font-family: 'Courier New', Courier, monospace !important;
}